# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media/

# Variables de entorno
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Python
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
